

.footer {
    background-color: #1d3c34;
    height: 190px;
    width: 100%;
    font-family: 'AvenirNextLTPro-Regular', sans-serif;
  }
  
  .footer-text-large {
    font-size: 26px;
    font-weight: 600;
    color: #b7dc8f;
  }
  
  .footer-text-small {
    font-size: 18px;
    color: #b7dc8f;
  }
  
  .footer-text-smaller {
    font-size: 15px;
    color: #f0f4e3;
  }